.block-messages {
    width: 80%;
    height: 70vh;
    border: 1px solid gray;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: -50px;
    margin-top: 50px;
    padding-bottom: 90px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #da8386;
   
}

::-webkit-scrollbar-thumb {
    background: #f50057;
    border-radius: 50px;
    border: 1px solid #da8386;
}

.messages {
    margin: 10px;
    border-radius: 15px;
    padding: 5px;
    
}

.mess-input{
    width: 700px;
}